<div class="container">

  <!-- Main title and breadcrumbs -->
  {{> client_header title='Sistema de gestión de la calidad' breadcrumbs = breadcrumbs}}


  <div class="row">

    <!-- Content -->
    <div class="col-sm-12 col-md-7 col-lg-8">
      Contenido por definir
    </div>
  
  </div>

</div>