<section id="hero" class="d-flex align-items-center">
  <div class="container" data-aos="zoom-out" data-aos-delay="100">
    <h1>Bienvenidos a la <span>Unidad de Laboratorios</span></h1>
    <h2>Universidad Simón Bolívar</h2>
    <div class="d-flex">
      <a class="btn-get-started scrollto" href="/#sobre-la-ulab">Leer más</a>
      <!--
      <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
      -->
    </div>
  </div>
</section><!-- End Hero -->

{{!-- About section --}}
<section id="about" class="about d-flex my-5 align-items-center">
  <div id="sobre-la-ulab" class="sr-only"></div>
  <div class="container aos-init aos-animate" data-aos="fade-up">
    <div class="row no-gutters">
      <div class="col-lg-6 video-box">
        <img src="https://bootstrapmade.com/demo/templates/Mamba/assets/img/about.jpg" class="img-fluid" alt="">
        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
      </div>

      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <h2 class="mb-4 mb-5"><strong>Sobre la ULAB</strong></h2>
        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="fa fa-fingerprint"></i></div>
          <h4 class="title" style="text-transform: none">Misión</h4>
          <p class="description">
            La Unidad de Laboratorios está destinada a la prestación de servicios de laboratorios en diversas áreas del conocimiento, 
            para dar respuesta a las necesidades de la comunidad académica, organizaciones públicas o privadas y personas naturales que así lo requieran,
            contribuyendo a la formación de profesionales integrales y de calidad; a la generación, difusión y aplicación del conocimiento;
            y la entrega de resultados confiables en la evaluación de la conformidad de productos.
          </p>
        </div>
        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="fa fa-eye"></i></div>
          <h4 class="title" style="text-transform: none">Visión</h4>
          <p class="description">
            Posicionarnos como una Unidad que ofrece la más amplia gama de servicios de laboratorios en el país, 
            en diversos campos del conocimiento científico-técnico, ofreciendo calidad, honestidad y confiabilidad en los servicios ofrecidos
            tanto a nuestros estudiantes como al resto de nuestros clientes internos y externos.
          </p>
        </div>
        <a href="/sobre-la-ulab" class="btn-get-started scrollto my-4">Leer más</a>
      </div>
    </div>
  </div>
</section>
{{!-- end of about section --}}

{{!-- Laboratories section --}}
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Personal</h2>
      {{!-- <h3>Check our <span>Services</span></h3> --}}
      <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
    </div>

    <div class="row flex justify-content-center align-items-center">
      <a href="#" class="col-lg-3 col-md-6 my-3" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="fa-solid fa-person-chalkboard"></i></div>
          <h4>Dirección</h4>
          <p>Supervisión y control de las actividades asociadas a los procesos bajo responsabilidad de la ULab.</p>
        </div>
      </a>

      <a href="#" class="col-lg-3 col-md-6 my-3" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="fa-solid fa-circle-dollar-to-slot"></i></div>
          <h4>Unidad de administración</h4>
          <p>Administración y ejecutar de los recursos presupuestarios y financieros de la ULab</p>
        </div>
      </a>

      <a href="#" class="col-lg-3 col-md-6 my-3" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="fa-solid fa-boxes-packing"></i></div>
          <h4>Coordinación de adquisiciones</h4>
          <p>Administración y ejecución de las adquisiciones de materiales y suministros</p>
        </div>
      </a>

      <a href="#" class="col-lg-3 col-md-6 my-3" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="fa-solid fa-handshake-angle"></i></div>
          <h4>Coordinacion de importaciones</h4>
          <p>Administración y ejecución de procesos de importación, exportación y regímenes aduaneros especiales</p>
        </div>
      </a>

      <a href="#" class="col-lg-3 col-md-6 my-3" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="fa-solid fa-diagram-project"></i></div>
          <h4>Coordinación de la calidad</h4>
          <p>Coordinación y asesoramiento a todas las dependencias que constituyen la ULab</p>
        </div>
      </a>

      <a href="#" class="col-lg-3 col-md-6 my-3" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="fa-solid fa-link"></i></div>
          <h4>Coordinación de enlace</h4>
        </div>
      </a>

      <a href="#" class="col-lg-3 col-md-6 my-3" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="fa-solid fa-skull-crossbones"></i></div>
          <h4>Gestión de desechos</h4>
        </div>
      </a>
    </div>
  </div>
</section>
{{!-- end laboratories section --}}


{{!-- team section --}}
<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Laboratorios</h2>
      <p>Los laboratorios se encargan de Proporcionar recursos para la realización de tareas prácticas y experimentales en diferentes áreas del conocimiento.</p>
    </div>

    <div class="row flex justify-content-center align-items-center">

      <a href="#" class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="img/team-1.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Laboratorio A</h4>
            <span>Laboratorios de Ingeniería Aplicada</span>
          </div>
        </div>
      </a>

      <a href="#" class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="img/team-2.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Laboratorio B</h4>
            <span>Laboratorios de Química, Biología y Polímeros</span>
          </div>
        </div>
      </a>

      <a href="#" class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="img/team-3.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Laboratorio C</h4>
            <span>Laboratorio de Electrónica</span>
          </div>
        </div>
      </a>

      <a href="#" class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="member-img">
            <img src="img/team-4.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Laboratorio D</h4>
            <span>Laboratorios de Física</span>
          </div>
        </div>
      </a>

      <a href="#" class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="img/team-5.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Laboratorio E</h4>
            <span>Laboratorios de Materiales y Procesos de Fabricación </span>
          </div>
        </div>
      </a>

      <a href="#" class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="img/team-6.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Laboratorio F</h4>
            <span>Laboratorios de Tecnología de la Información</span>
          </div>
        </div>
      </a>

      <a href="#" class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
        <div class="member">
          <div class="member-img">
            <img src="img/team-4.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Laboratorio G</h4>
            <span>Laboratorios de la Sede del Litoral</span>
          </div>
        </div>
      </a>

    </div>

  </div>
</section>
{{!-- end team section --}}


{{!-- Services Section --}}
<section id="featured-services" class="featured-services">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Servicios</h2>
      <p>La Unidad de Laboratorios ofrece diferentes servicions a la comunidad universitaria.</p>
    </div>
    <div class="row flex justify-content-center align-items-center">
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch my-3 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="fa-solid fa-prescription-bottle"></i></div>
          <h4 class="title"><a href="#">Servicio de Nitrógeno líquido</a></h4>
          <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch my-4 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="fa-solid fa-flask-vial"></i></div>
          <h4 class="title"><a href="#">Servicio de laboratorios</a></h4>
          <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch my-4 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="fa-solid fa-flask"></i></div>
          <h4 class="title"><a href="#">Taller de soplado de vidrio</a></h4>
          <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch my-4 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="fa-solid fa-graduation-cap"></i></div>
          <h4 class="title"><a href="#">Eventos de formación</a></h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch my-4 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="fa-solid fa-hand-holding-hand"></i></div>
          <h4 class="title"><a href="#">Consultorías y asesorías</a></h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch my-4 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="fa-solid fa-house-circle-check"></i></div>
          <h4 class="title"><a href="#">Alquiler de espacios</a></h4>
          <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
        </div>
      </div>

    </div>

  </div>
</section>
{{!-- End Featured Services Section --}}


{{!-- team section --}}
<section id="blog" class="team section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Noticias</h2>
      <p>Conozca las novedades sobre nustro trabajo como entidad dentro de la Universidad</p>
    </div>

    <div class="row flex justify-content-center align-items-center">

      <a href="#" class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="member">
          <div class="member-img">
            <img src="img/team-1.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Entrevistas a antiguos Directores de la Unidad de Laboratorios de la USB</h4>
            <span>Impresiones del pasado, presente y futuro de los Laboratorios de la Universidad Simón Bolívar</span>
          </div>
        </div>
      </a>

      <a href="#" class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="member">
          <div class="member-img">
            <img src="img/team-2.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Didactrón, Museo interactivo de Ciencia y Tecnología de la Universidad Simón Bolívar</h4>
            <span>El Prof. José Gregorio Ruiz adscrito al Laboratorio D, explica el objetivo de Didactrón</span>
          </div>
        </div>
      </a>

      <a href="#" class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="member">
          <div class="member-img">
            <img src="img/team-3.jpg" class="img-fluid" alt="">
          </div>
          <div class="member-info">
            <h4>Medidas de prevención ante el coronavirus</h4>
            <span>La Prof. Antonietta Porco adscrita al Laboratorio B, presenta recomendaciones para evitar el contagio.</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>


<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Contáctenos</h2>
      <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-6">
        <div class="info-box mb-4">
          <i class="fa-solid fa-location-dot"></i>
          <h3>Dirección Física</h3>
          <p>Universidad Simón Bolívar. Valle de Sartenejas. Baruta, Estado Miranda</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
          <i class="fa fa-envelope"></i>
          <h3>Correo electrónico</h3>
          <p>ulab@usb.ve</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
          <i class="fa fa-phone"></i>
          <h3>Teléfono</h3>
          <p>+1 5589 55488 55</p>
        </div>
      </div>

    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">

      <div class="col-lg-6">
        <iframe class="mb-4 mb-lg-0 map-iframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
      </div>

      <div class="col-lg-6">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
          <div class="row">
            <div class="col form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
            </div>
            <div class="col form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Dirección de correo electrónico" required>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" required>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
          </div>
          <div class="my-3">
            <div class="loading">Cargando</div>
            <div class="error-message"></div>
            <div class="sent-message">Gracias! Su mensaje ha sido enviado.</div>
          </div>
          <div class="text-center"><button type="submit">Enviar mensaje</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->


<!-- ======= Footer ======= -->
<footer id="footer">

  {{!-- <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Join Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div> --}}

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>ULab - USB<span>.</span></h3>
          <p>
            Edif. Energética, PB <br>
            Valle de Sartenejas, Baruta, Edo. Miranda<br>
            Gran Caracas, Venezuela <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> ulab@usb.ve<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Enlaces de interés</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Docencia e Investigación</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Extensión</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Servicios</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Gestión de la Calidad</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Donaciones</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nuestros Servicios</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Servicio de Nitrógeno líquido</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Servicio de Laboratorios</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Eventos de formación</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Consultorías y asesorías</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Alquiler de espacios</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Nuestras redes sociales</h4>
          <p>Siga nuestro trabajo en las diferentes redes sociales</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="youtube"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="copyright">
      &copy; Copyright 2022 <span>. Unidad de Laboratorios - Universidad Simón Bolívar</span>.
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bizland-bootstrap-business-template/ -->
      Desarrollado y mantenido por <a href="mailito:indiravera@usb.ve">Indira Vera</a>, <a href="mailito:ejvalero10@gmail.com">Emanuel Valero</a>
    </div>
  </div>
</footer><!-- End Footer -->