* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: darkblue;
}

a {
  text-decoration: none;
}


.form-label {
  color: darkblue;
}

.btn-primary {
  background-color: darkblue;
  border-color: darkblue;
}


/**
 * Tables
 */
.labs-table {
  font-size: 0.95rem;
}

.labs-table thead tr th:nth-child(1) {
  width: 15%;
}

.labs-table thead tr th:nth-child(4) {
  width: 25%;
}