* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: darkblue;
}

a {
  text-decoration: none;
}


.form-label {
  color: darkblue;
}

.btn {
  border-radius: 16px;
}

.btn-primary {
  background-color: darkblue;
  border-color: darkblue;
}

.btn-outline-primary {
  border-color: darkblue;
  color: darkblue;
}

.btn-contact {
  background-color: rgba(0,0,0,.03);
  border-radius: 12px;
}

.btn-contact:hover {
  background-color: #92aace;
  color: white;
}


/**
 * Tables
 */
.labs-table {
  font-size: 0.95rem;
}

.labs-table th:nth-child(1) {
  width: 15%;
}

.labs-table th:nth-child(2) {
  width: 25%;
}

.labs-table th:nth-child(3) {
  width: 50%;
}

/**
 * Menu dropdown
 */
.dropdown-menu {
  min-width: 13rem;
}