<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/admin">Plataforma ULab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto px-3">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-cogs"></i><span> Plataforma</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="py-1">
              <a class="dropdown-item" href="/admin/laboratorios">
                <i class="fa-solid fa-microchip"></i><span> Laboratorios</span>
              </a>
            </li>
            <li class="py-1">
              <a class="dropdown-item" href="/admin/personal">
                <i class="fa-solid fa-users"></i><span> Personal</span>
              </a>
            </li>
            <li class="py-1">
              <a class="dropdown-item h-100" href="/admin/servicios">
                <i class="fa-solid fa-microchip"></i><span> Servicios</span>
            </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sitio web
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/">Visitar sitio</a>
            </li>
            <li>
              <a class="dropdown-item" href="/admin">Panel de control</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>